bidict==0.21.4
blessed==1.17.10
certifi==2020.6.20
cffi==1.15.0
chardet==4.0.0
click==8.0.4
colorzero==1.1
cryptography==3.3.2
dbus-python==1.2.16
distro==1.5.0
dnspython==1.16.0
evdev==1.4.0
eventlet==0.31.0
Flask==1.1.2
Flask-SocketIO==5.0.1
gpiozero==1.6.2
greenlet==1.1.2
idna==2.10
itsdangerous==2.1.0
Jinja2==3.0.3
keyboard==0.13.5
MarkupSafe==2.1.0
nxbt==0.1.4
psutil==5.6.6
pycparser==2.21
pynput==1.7.1
python-apt==2.2.1
python-engineio==4.3.1
python-socketio==5.5.2
python-xlib==0.31
requests==2.25.1
RPi.GPIO==0.7.0
six==1.16.0
spidev==3.5
ssh-import-id==5.10
urllib3==1.26.5
wcwidth==0.2.5
Werkzeug==2.0.3
